<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hemant Kunder</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather&family=Pacifico&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>

  <div class="top">
    <img class="top-cloud" src="images/cloud.png" alt="">
    <h1>I'm Hemant Kunder</h1>
    <h2>a Web Designer</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="">
    <img src="images/mountain.png" alt="">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="man" src="images/man.png" alt="Profile">
      <h2>Hello.</h2>
      <p class="intro">I am a self-motivated IT professional with huge knowledge and proficiency in JavaScript, HTML , CSS, and mobile responsive web development, as well as strong skills and ability in writing clean and efficient code.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="skill-1" src="https://media.giphy.com/media/QssGEmpkyEOhBCb7e1/giphy.gif" alt="">
        <h3>Design & Development</h3>
        <p>Programming Languages: Python,ReactJs,JavaScript.</p>
        <p>Web Technologies: HTML5, CSS3
        <p>Operating System: Windows, Linux, Android, Mac </p>
      </div>
      <div class="skill-row">
        <img class="skill-2" src="https://media.giphy.com/media/lOgu1OnjYF2GHBfRU4/giphy.gif" alt="">
        <h3>Design & Development</h3>
        <p>Programming Languages: Python,ReactJs,JavaScript.</p>
        <p>Web Technologies: HTML5, CSS3
        <p>Operating System: Windows, Linux, Android, Mac </p>
      </div>
      <hr>
      <div class="contact-me">
          <h2>Get In Touch</h2>
          <h3>If you Love to code as much I do.</h3>
          <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
      </div>

  </div>

  <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
      <p class="footer">© 2018 Hemant Kunder.</p>
  </div>






</body>

</html>
